.character-row {
  height: 100%;

  border-top: 1px solid;
}

.character-name {
  text-align: left;
  text-indent: 5%;
  height: 100%;
}

.skill-checkbox-row {
  height: 100%;
  padding: 10px 0;

  border-top: 1px solid;
}

.skill-checkbox {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.skill-label {
  text-align: left;
  text-indent: 20%;
  height: 20px;
}

@media (width >= 768px) {
  .character-row {
    height: 60px;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr);

    align-items: center;
    text-indent: 0%;

    border-top: none;
    border-left: 1px solid;
    border-bottom: 1px solid;
  }

  .character-row:last-child {
    border-bottom: none;
  }

  .skill-checkbox-row {
    display: block;
    border-top: none;
    border-left: 1px solid;
    padding: 0;
  }

  .skill-checkbox {
    display: block;
    text-align: center;
  }

  /* .skill-checkbox-row:nth-child(odd) {
    background-color: aliceblue;
  } */

  .skill-label {
    display: none;
    text-indent: 0%;
  }
}
